# Plot animation

In [1]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import seaborn as sns
import sys

# Move two levels up (to the project root) and append the `src` folder
src_path = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))

# Append src to sys.path
sys.path.append(src_path)

from src import query_engines, dataframe_visualizer, dataframe_movie

q = query_engines.QueryEngines()

# Query

# Temporal evolution

In [2]:
START_DATE = "'2024-01-01'"
END_DATE = "'2024-08-01'"

params = [
    {'name':'start_date', 'value': str(START_DATE)},
    {'name':'end_date', 'value': str(END_DATE)}
]

q.prepare_query(
    'plot_animation.sql'
    ,params=params
    ,to_load_file='plot_animation'
    ,load_from_to_load_file='plot_animation'
)

orders  = q.query_run_starburst()

orders['p_creation_date'] = pd.to_datetime(orders['p_creation_date'])

In [3]:
DURATION_PER_FRAME = 1000
N_SPLITS = 10
LENGTH = 20
HEIGHT = 10

m = dataframe_movie.DataFrameMovie(orders)
orders = m.create_m_splits('p_creation_date', N_SPLITS)
m = dataframe_movie.DataFrameMovie(orders)

plot_params = {
    'x_column': 'p_creation_date',
    'y_columns': ['n_customers','n_orders'],
    'styles': ['-','-'],
}

# Animate the movie using the plot type 'multiple_variable_lineplot'
m.animate_movie(
    plot_type='movie_multiple_variable_lineplot',
    plot_params=plot_params,
    duration_per_frame=DURATION_PER_FRAME,
    output_filename='temporal evolution',
    fig_length=LENGTH,
    fig_height=HEIGHT,
    y_min=0,
)

Animation saved as movies/temporal evolution.gif

# Categories

In [4]:
START_DATE = "'2024-01-01'"
END_DATE = "'2024-08-01'"

params = [
    {'name':'start_date', 'value': str(START_DATE)},
    {'name':'end_date', 'value': str(END_DATE)}
]

q.prepare_query(
    'plot_animation_v2.sql'
    ,params=params
    ,to_load_file='plot_animation_v2'
    ,load_from_to_load_file='plot_animation_v2'
)

countries  = q.query_run_starburst()

In [5]:
DURATION_PER_FRAME = 1000
LENGTH = 20
HEIGHT = 10

m = dataframe_movie.DataFrameMovie(countries)
countries = m.create_m_splits_by_category('order_country_code')
m = dataframe_movie.DataFrameMovie(countries)

plot_params = {
    'x_column': 'order_country_code',
    'y_columns': ['n_customers','n_orders'],
    'styles': ['-','-'],
}

# Animate the movie using the plot type 'multiple_variable_lineplot'
m.animate_movie(
    plot_type='movie_multiple_variable_lineplot',
    plot_params=plot_params,
    duration_per_frame=DURATION_PER_FRAME,
    output_filename='country evolution',
    fig_length=LENGTH,
    fig_height=HEIGHT,
    y_min=0,
)

Animation saved as movies/country evolution.gif

# Temporal evolution with goal

In [6]:
START_DATE = "'2016-01-01'"
END_DATE = "'2024-09-01'"

params = [
    {'name':'start_date', 'value': str(START_DATE)},
    {'name':'end_date', 'value': str(END_DATE)}
]

q.prepare_query(
    'plot_animation_v3.sql'
    ,params=params
    ,to_load_file='plot_animation_v3'
    ,load_from_to_load_file='plot_animation_v3'
)

goal  = q.query_run_starburst()

goal['p_creation_date'] = pd.to_datetime(goal['p_creation_date'])

In [15]:
goal['n_ordres_cum'] = goal['n_orders'].cumsum()
goal['goal'] = 1000000000

DURATION_PER_FRAME = 25
N_SPLITS = 1060
LENGTH = 20
HEIGHT = 10

m = dataframe_movie.DataFrameMovie(goal)
goal = m.create_m_splits('p_creation_date', N_SPLITS)
m = dataframe_movie.DataFrameMovie(goal)

plot_params = {
    'x_column': 'p_creation_date',
    'y_columns': ['n_ordres_cum','goal'],
    'styles': ['-',':'],
}

# Animate the movie using the plot type 'multiple_variable_lineplot'
m.animate_movie(
    plot_type='movie_multiple_variable_lineplot',
    plot_params=plot_params,
    duration_per_frame=DURATION_PER_FRAME,
    output_filename='temporal evolution goal',
    fig_length=LENGTH,
    fig_height=HEIGHT,
    y_min=0,
    y_max=1200000000,
    icon_paths=['icons/rocket.png', 'icons/goal.png'],  # List of icon paths
    icon_columns=['n_ordres_cum', 'goal'],  # The columns to attach the icons
    icon_zooms=[0.3, 0.3]  # Zoom levels for each icon
)

Animation saved as movies/temporal evolution goal.gif

In [14]:
goal

,p_creation_date,n_orders,n_customers,n_ordres_cum,goal,movie,m_start,m_end
0,2016-01-01,172,79,172,1000000000,1,2016-01-01 00:00:00,2016-01-06 06:38:24
1,2016-01-02,155,87,327,1000000000,1,2016-01-01 00:00:00,2016-01-06 06:38:24
2,2016-01-03,177,101,504,1000000000,1,2016-01-01 00:00:00,2016-01-06 06:38:24
3,2016-01-04,200,148,704,1000000000,1,2016-01-01 00:00:00,2016-01-06 06:38:24
4,2016-01-05,267,171,971,1000000000,1,2016-01-01 00:00:00,2016-01-06 06:38:24
...,...,...,...,...,...,...,...,...
3162,2024-08-28,743297,649322,946912120,1000000000,600,2024-08-26 17:21:36,2024-09-01 00:00:00
3163,2024-08-29,778078,680645,947690198,1000000000,600,2024-08-26 17:21:36,2024-09-01 00:00:00
3164,2024-08-30,864064,754836,948554262,1000000000,600,2024-08-26 17:21:36,2024-09-01 00:00:00
3165,2024-08-31,881784,764643,949436046,1000000000,600,2024-08-26 17:21:36,2024-09-01 00:00:00
3166,2024-09-01,937204,818097,950373250,1000000000,600,2024-08-26 17:21:36,2024-09-01 00:00:00