# Debug Looker

In [2]:
import os
import pandas as pd
import sys

src_path = os.path.join(os.path.join(os.getcwd(), '..', '..'))
sys.path.append(src_path)

from src import query_engines, dataframe_visualizer

q = query_engines.QueryEngines()

# Check 1: Ordres appear both in OD and Instructions

In [6]:
QUERY_NAME = 'debug_check_1.sql' # With sql
START_DATE = "'2025-01-17'"
END_DATE = "'2025-01-19'"

params = [
    {'name':'start_date', 'value': str(START_DATE)},
    {'name':'end_date', 'value': str(END_DATE)}
]

q.prepare_query(
    QUERY_NAME
    ,params=params
    ,to_load_file=QUERY_NAME
    ,load_from_to_load_file=None
    
)

df  = q.query_run_starburst()

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/271d09ccfd0b500409d8d8a5fbeb538471d79e498065ed413d28b106d3c05da6

In [7]:
df

      order_id_od  order_id_pri
0    101156441434  1.011564e+11
1    101156566427           NaN
2    101153570088  1.011536e+11
3    101151004261  1.011510e+11
4    101150985922  1.011510e+11
..            ...           ...
530  101155748437  1.011557e+11
531  101157015763  1.011570e+11
532  101153752203  1.011538e+11
533  101150858909  1.011509e+11
534  101150195566  1.011502e+11

[535 rows x 2 columns]

In [10]:
# Find the rows were thhe order_id_pri is null
df[df['order_id_pri'].isnull()]

      order_id_od  order_id_pri
1    101156566427           NaN
33   101156962054           NaN
48   101150694006           NaN
148  101150622549           NaN
192  101152801912           NaN
352  101156481410           NaN
481  101152862046           NaN

In [ ]:
# The problem is clear with REMAKES. The customer places the order and an order_id is created. But then, when the order is remade, the order_id 
# does not appear in the instructions table, so we lose the reference to the original order.

# We should understand the process of remakes and how the order_id is generated and stored in the database.