# GMV loss Tier 2 data product

## Executive summary

In this notebook, we will create the final logic for GMV loss and GMV saved 

Multiple data quality checks were performed, and there is no re

## Plan

Tasks
- [X] Define query at a product level
- [X] Define table for GMV loss at a product level
- [X] Define query at an order level
- [X] Define table for GMV loss at an order level
- [X] Data quality checks

Conclusions
- [X] Anything to add to knowledge
- [X] Any query to add to repo

## Config

In [46]:
# import matplotlib.pyplot as  plt
import pandas as pd
import sys

sys.path.append('c:\\Users\\Jordi Cremades\\Documents\\Repository')

# from utils import dataset_meta_stats
# from utils import dataset_stats
from utils import query_engines

# dms = dataset_meta_stats.DatasetMetaStats() 
# ds = dataset_stats.DatasetStats()

## Task 1: Define query at a product level

In [39]:
q = query_engines.QueryEngines(
    query='pna_gmv_product.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/f6958ce0e79770834ab8ccefdce2ae62a39047cf5186d5c3b22196068685810a

In [23]:
#addition

#change scientific notation 
#the coerce makes sure that even if there is a NaN it is not modified
df['replaced_bought_product_id'] = pd.to_numeric(df['replaced_bought_product_id'], errors='coerce').astype('Int64')
df['replaced_by_bought_product_id'] = pd.to_numeric(df['replaced_by_bought_product_id'], errors='coerce').astype('Int64')

cond = df['order_id'] == 628322096
df[cond].sort_values(by='bought_product_id').to_csv('outputs/addition.csv')

In [22]:
#partial removal

cond = df['order_id'] == 100371685110
df[cond].sort_values(by='bought_product_id').to_csv('outputs/partial_removal.csv')

In [40]:
#replacement

cond = df['order_id'] == 100328666927
df[cond].sort_values(by='bought_product_id').to_csv('outputs/replacement_v2.csv')

In [20]:
#price mismatch

cond = df['order_id'] == 100382450564
df[cond].sort_values(by='bought_product_id').to_csv('outputs/price_mismatch.csv')

In [21]:
#total_removal

cond = df['order_id'] == 2747551
df[cond].sort_values(by='bought_product_id').to_csv('outputs/total_removal.csv')

## Task 2: Define query at an order level

In [35]:
q = query_engines.QueryEngines(
    query='pna_gmv_order.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/7a7a463babf48d7693e7c7991ff9dcde59b8761df9c7d29c30dfa1d3a9301e7b

In [37]:
#all orders
df.sort_values(by='order_id').to_csv('outputs/orders.csv')

## Task 3: Data quality checks

Same ordres in gmv orders and orders descriptors

In [35]:
q = query_engines.QueryEngines(
    query='dq/count_orders.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()
df

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/566f0b47c49c3530a4ed8107ee381a4aa7a86a8d3600ccfd7e7c28d6448bb286

       _col0      _col1
0  794943291  794943291

In [36]:
q = query_engines.QueryEngines(
    query='dq/count_orders_descriptors.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()
df

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/3b56d0cef3a46e9023648ab78bcca8bdba8bb1f3eef02a3b37b4b48e4a8503b0

       _col0      _col1
0  794943291  794943291

Same bought products gmv and bought products

In [37]:
q = query_engines.QueryEngines(
    query='dq/count_products.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()
df

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/bc86ea4c6252dbd29ba4a7cfb401eb1f6cb46f9c87245be2468837e3f146b8c1

        _col0       _col1
0  2230020913  2230020913

In [38]:
q = query_engines.QueryEngines(
    query='dq/count_products_bought_products.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()
df

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/7d0d8c99ea8319b9a922487d16346a6933dee52a7d142d6faddb237b3abd3399

        _col0       _col1
0  2230020913  2230020913

Distinct ordres in products is lower than ordres

In [39]:
q = query_engines.QueryEngines(
    query='dq/count_orders.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()
df

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/94721465528fae285a5ea78d00305a1ea3531aa225ceab1668f8c32409a8843f

       _col0      _col1
0  794943291  794943291

In [41]:
q = query_engines.QueryEngines(
    query='dq/count_distinct_orders_in_products.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()
df

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/780be2d40b7066d5061968d56c360c8ffb52bae3e3c9fcd0bd2bc2c738401591

       _col0
0  756139882

Examples of each type

In [54]:
partial_removal = [100380267191,100365649314,100399726924,100400421244,100337438447]
total_removal = [100347902252,100348456378,100347588028,100348056064,100348420516]
replacement = [100375914105,100389275524,100345382266,100346274072,100361213045]
additions = [100380590636,100396193925,100395495892,100395502068,100395688663]
pna_cx = [100404806178,100404775887,100405019297,100404981087,100404508168]
refund = [100364610738,100364102442,100404555503,100405228398,100405613920]
# to check for additions correction 100396193925

In [49]:
q = query_engines.QueryEngines(
    query='dq/gather_order_ids_examples.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()
df.head()

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/26d3e8e24b1c138571dc7f89054acf5733896c932c75d046f8444eac6cde797f

,p_creation_date,order_id,order_final_status,order_cancel_reason,customer_id,store_address_id,order_vertical,order_city_code,order_country_code,order_exchange_rate_to_eur,...,gmv_variation_total_removal_local,gmv_variation_total_removal_eur,gmv_variation_partial_removal_local,gmv_variation_partial_removal_eur,gmv_variation_replacement_local,gmv_variation_replacement_eur,gmv_variation_cx_pna_local,gmv_variation_cx_pna_eur,refunded_to_customer_local,refunded_to_customer_eur
0,2024-01-26,100375914105,DeliveredStatus,None,34010857,525710,QCommerce,SBU,RO,0.200948,...,NaN,NaN,NaN,NaN,-2.19,-0.440076,NaN,NaN,NaN,NaN
1,2024-01-12,100346274072,DeliveredStatus,None,150333884,491758,QCommerce,FCS,RO,0.201141,...,NaN,NaN,NaN,NaN,-10.35,-2.081809,NaN,NaN,NaN,NaN
2,2024-01-19,100361213045,DeliveredStatus,None,43717859,142104,QCommerce,TIM,RO,0.200956,...,-20.78,-4.175866,NaN,NaN,1.10,0.221052,NaN,NaN,NaN,NaN
3,2024-01-12,100345382266,DeliveredStatus,None,12311682,474441,QCommerce,BUC,RO,0.201141,...,NaN,NaN,NaN,NaN,0.00,0.000000,NaN,NaN,NaN,NaN
4,2024-01-28,100380267191,DeliveredStatus,None,41040381,139767,QCommerce,SZZ,PL,0.228785,...,NaN,NaN,-1.05,-0.240224,NaN,NaN,NaN,NaN,NaN,NaN

Compare with looker

In [57]:
# to compare in previous looker https://glovoapp2.cloud.looker.com/explore/central_dm/bought_products?qid=ojJYSQOblvJcrwTQVDnv1M&origin_space=3957
q = query_engines.QueryEngines(
    query='dq/compare_with_looker.sql', 
    params=None,
    load_from_output_file=None, #with no .csv
    output_file=None, #with no .csv
    printq=None
)

df = q.query_run_starbust()
df.head()

c:\Users\Jordi Cremades\Documents\Repository\utils\query_engines.py:145: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/0002169e68fee505537d3c07a89b3ee53313daf0b0b1e293a857c915b95d0f0a

,order_id,gmv_variation_additions_local,gmv_variation_total_removal_local,gmv_variation_partial_removal_local,gmv_variation_replacement_local,gmv_variation_cx_pna_local,refunded_to_customer_local,gmv_variation_additions_eur,gmv_variation_total_removal_eur,gmv_variation_partial_removal_eur,gmv_variation_replacement_eur,gmv_variation_cx_pna_eur,refunded_to_customer_eur
0,100337438447,NaN,NaN,-2040.0,NaN,NaN,NaN,NaN,NaN,-4.1208,NaN,NaN,NaN
1,100361213045,NaN,-20.78,NaN,1.10,NaN,NaN,NaN,-4.175866,NaN,0.221052,NaN,NaN
2,100345382266,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
3,100375914105,NaN,NaN,NaN,-2.19,NaN,NaN,NaN,NaN,NaN,-0.440076,NaN,NaN
4,100389275524,NaN,-18.76,NaN,-3.89,NaN,NaN,NaN,-3.770160,NaN,-0.781766,NaN,NaN