# Fresh Products

In [14]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import seaborn as sns
import sys

# Move two levels up (to the project root) and append the `src` folder
src_path = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))

# Append src to sys.path
sys.path.append(src_path)

from src import query_engines, dataframe_visualizer

q = query_engines.QueryEngines()

# Current Picture

## Q1: Identify all kinds of segmentation

The first part is to make sure that we can identify the 5 different segments. These are Non top Partners, Top Partners, MFCs, Specialties and all Groceries partners together

In [15]:
q.prepare_query(
    'possible_segmentations.sql'
    ,params=None
    ,to_load_file='possible_segmentations'
    ,load_from_to_load_file='possible_segmentations'
)

possible_segmentations  = q.query_run_starburst()
possible_segmentations.sort_values(by='n_store_id', ascending=False)

           segment  n_store_id  n_store_address_id
2      Specialties        8348               15346
3  Non Top Partner        2723                6043
0      Top Partner        2279               10823
1              MFC         104                 256

### Q1.1 How many of them are migrated

In [16]:
q.prepare_query(
    'possible_segmentations_m.sql'
    ,params=None
    ,to_load_file='possible_segmentations_m'
    ,load_from_to_load_file='possible_segmentations_m'
)

possible_segmentations_m  = q.query_run_starburst()
possible_segmentations_m.sort_values(by='n_store_id', ascending=False)

           segment  n_store_id  n_store_id_m  perc_m
3      Specialties        8348           480    0.06
1  Non Top Partner        2723           729    0.27
2      Top Partner        2279          1802    0.79
0              MFC         104           102    0.98

## Q2: Query for current picture questions

In [17]:
START_DATE = "'2024-07-01'"
END_DATE = "'2024-09-30'"

params = [
    {'name':'start_date', 'value':START_DATE},
    {'name':'end_date', 'value':END_DATE}
]

q.prepare_query(
    'current_picture.sql'
    ,params=params
    ,to_load_file='current_picture'
    ,load_from_to_load_file='current_picture'
)

current_picture  = q.query_run_starburst()
current_picture

,country,segment,all_orders,f_orders,all_customers,f_customers,all_products,f_products,fo_all_products,fo_f_products
0,CI,MFC,43670,17630,11203,5268,2616,267,2288.0,267.0
1,PT,MFC,169080,38683,51099,14510,4347,309,3977.0,309.0
2,PL,Specialties,77004,0,25130,0,1245,0,NaN,NaN
3,CI,Non Top Partner,116557,31699,26503,10080,12465,439,9835.0,439.0
4,PL,Top Partner,244353,155687,77491,54224,25917,988,24345.0,988.0
...,...,...,...,...,...,...,...,...,...,...
63,RS,Non Top Partner,8951,3019,4783,1946,4056,145,3427.0,145.0
64,IT,Specialties,23586,7539,11641,3920,12449,727,8494.0,727.0
65,PT,Specialties,6958,3168,3041,1303,2897,206,2433.0,206.0
66,KE,Top Partner,152072,55410,40832,19224,28979,1234,20862.0,1234.0
67,UA,Specialties,3609,458,1553,280,1953,132,912.0,132.0

### Q2.1 % of customers that placed a FO in the last 3 months

In [18]:
tmp = current_picture.copy()

pivot_tmp = tmp.pivot(index='country', columns='segment', values=['f_customers','all_customers'])
pivot_tmp.columns = [f'{col[0]}_{col[1]}' for col in pivot_tmp.columns]
pivot_tmp.reset_index(inplace=True)
pivot_tmp.fillna(0, inplace=True)

pivot_tmp['perc_MFC'] = pivot_tmp['f_customers_MFC']/pivot_tmp['all_customers_MFC']
pivot_tmp['perc_Non Top Partner'] = pivot_tmp['f_customers_Non Top Partner']/pivot_tmp['all_customers_Non Top Partner']
pivot_tmp['perc_Top Partner'] = pivot_tmp['f_customers_Top Partner']/pivot_tmp['all_customers_Top Partner']
pivot_tmp['perc_Specialties'] = pivot_tmp['f_customers_Specialties']/pivot_tmp['all_customers_Specialties']

print(pivot_tmp['f_customers_MFC'].sum()/pivot_tmp['all_customers_MFC'].sum(),'all MFC')
print(pivot_tmp['f_customers_Non Top Partner'].sum()/pivot_tmp['all_customers_Non Top Partner'].sum(),'all Non Top Partner')
print(pivot_tmp['f_customers_Top Partner'].sum()/pivot_tmp['all_customers_Top Partner'].sum(),'all Top Partner')
print(pivot_tmp['f_customers_Specialties'].sum()/pivot_tmp['all_customers_Specialties'].sum(),'all Specialties')

pivot_tmp[['country','perc_MFC','perc_Non Top Partner','perc_Top Partner','perc_Specialties']]

0.35535505914154514 all MFC
0.29302197499586935 all Non Top Partner
0.5388240140077345 all Top Partner
0.22926559766380342 all Specialties

   country  perc_MFC  perc_Non Top Partner  perc_Top Partner  perc_Specialties
0       AM       NaN              0.047826          0.523312               NaN
1       BA       NaN              0.376448          0.432791          0.271255
2       BG       NaN              0.316374          0.702916          0.241087
3       CI  0.470231              0.380334          0.341721          0.394671
4       ES  0.383439              0.235789          0.577264          0.559850
5       GE       NaN              0.000000          0.445019               NaN
6       HR       NaN              0.034399          0.394567          0.244273
7       IT  0.409244              0.324836          0.533555          0.336741
8       KE  0.346414              0.359375          0.470807               NaN
9       KG  0.286914                   NaN          0.348447               NaN
10      KZ  0.355354              0.300239          0.417444               NaN
11      MA  0.306846              0.448917          0.469220               NaN
12      MD       NaN              0.391657          0.576896          0.205736
13      ME  0.484043              0.254455          0.597039          0.288904
14      NG  0.372172              0.235430          0.112954          0.000000
15      PL       NaN              0.000000          0.699746          0.000000
16      PT  0.283959              0.017800          0.507186          0.428477
17      RO       NaN              0.139711          0.579186               NaN
18      RS       NaN              0.406858          0.590502          0.079217
19      TN       NaN              0.526757          0.562631               NaN
20      UA  0.326705              0.170680          0.487359          0.180296
21      UG       NaN              0.308116          0.436549          0.455041

### Q2.2 % of Fresh Ordres from total ordres

In [19]:
tmp = current_picture.copy()

pivot_tmp = tmp.pivot(index='country', columns='segment', values=['f_orders','all_orders'])
pivot_tmp.columns = [f'{col[0]}_{col[1]}' for col in pivot_tmp.columns]
pivot_tmp.reset_index(inplace=True)
pivot_tmp.fillna(0, inplace=True)

pivot_tmp['perc_MFC'] = pivot_tmp['f_orders_MFC']/pivot_tmp['all_orders_MFC']
pivot_tmp['perc_Non Top Partner'] = pivot_tmp['f_orders_Non Top Partner']/pivot_tmp['all_orders_Non Top Partner']
pivot_tmp['perc_Top Partner'] = pivot_tmp['f_orders_Top Partner']/pivot_tmp['all_orders_Top Partner']
pivot_tmp['perc_Specialties'] = pivot_tmp['f_orders_Specialties']/pivot_tmp['all_orders_Specialties']

print(pivot_tmp['f_orders_MFC'].sum()/pivot_tmp['all_orders_MFC'].sum(),'all MFC')
print(pivot_tmp['f_orders_Non Top Partner'].sum()/pivot_tmp['all_orders_Non Top Partner'].sum(),'all Non Top Partner')
print(pivot_tmp['f_orders_Top Partner'].sum()/pivot_tmp['all_orders_Top Partner'].sum(),'all Top Partner')
print(pivot_tmp['f_orders_Specialties'].sum()/pivot_tmp['all_orders_Specialties'].sum(),'all Specialties')

pivot_tmp[['country','perc_MFC','perc_Non Top Partner','perc_Top Partner','perc_Specialties']]

0.2605517360882309 all MFC
0.2572791840397474 all Non Top Partner
0.44692135646242154 all Top Partner
0.20063520162445006 all Specialties

   country  perc_MFC  perc_Non Top Partner  perc_Top Partner  perc_Specialties
0       AM       NaN              0.022609          0.420517               NaN
1       BA       NaN              0.350348          0.364140          0.242144
2       BG       NaN              0.303056          0.590378          0.233033
3       CI  0.403710              0.271961          0.258892          0.384458
4       ES  0.284500              0.240620          0.486738          0.539542
5       GE       NaN              0.000000          0.366352               NaN
6       HR       NaN              0.030785          0.354919          0.249721
7       IT  0.326581              0.258775          0.436163          0.319639
8       KE  0.233708              0.321429          0.364367               NaN
9       KG  0.227975                   NaN          0.295238               NaN
10      KZ  0.203928              0.184712          0.294887               NaN
11      MA  0.216501              0.422657          0.327834               NaN
12      MD       NaN              0.426471          0.495018          0.152281
13      ME  0.305339              0.279117          0.519546          0.230792
14      NG  0.299615              0.163371          0.068571          0.000000
15      PL       NaN              0.000000          0.637140          0.000000
16      PT  0.228785              0.012714          0.428998          0.455303
17      RO       NaN              0.116541          0.485553               NaN
18      RS       NaN              0.337281          0.518791          0.078935
19      TN       NaN              0.465154          0.503768               NaN
20      UA  0.219812              0.117024          0.395928          0.126905
21      UG       NaN              0.252136          0.343133          0.397592

### Q2.3 In Fresh Ordres what is the % of Fresh Products

In [20]:
tmp = current_picture.copy()

pivot_tmp = tmp.pivot(index='country', columns='segment', values=['fo_all_products','fo_f_products'])
pivot_tmp.columns = [f'{col[0]}_{col[1]}' for col in pivot_tmp.columns]
pivot_tmp.reset_index(inplace=True)
pivot_tmp.fillna(0, inplace=True)

pivot_tmp['perc_MFC'] = pivot_tmp['fo_f_products_MFC']/pivot_tmp['fo_all_products_MFC']
pivot_tmp['perc_Non Top Partner'] = pivot_tmp['fo_f_products_Non Top Partner']/pivot_tmp['fo_all_products_Non Top Partner']
pivot_tmp['perc_Top Partner'] = pivot_tmp['fo_f_products_Top Partner']/pivot_tmp['fo_all_products_Top Partner']
pivot_tmp['perc_Specialties'] = pivot_tmp['fo_f_products_Specialties']/pivot_tmp['fo_all_products_Specialties']

print(pivot_tmp['fo_f_products_MFC'].sum()/pivot_tmp['fo_all_products_MFC'].sum(),'all MFC')
print(pivot_tmp['fo_f_products_Non Top Partner'].sum()/pivot_tmp['fo_all_products_Non Top Partner'].sum(),'all Non Top Partner')
print(pivot_tmp['fo_f_products_Top Partner'].sum()/pivot_tmp['fo_all_products_Top Partner'].sum(),'all Top Partner')
print(pivot_tmp['fo_f_products_Specialties'].sum()/pivot_tmp['fo_all_products_Specialties'].sum(),'all Specialties')

pivot_tmp[['country','perc_MFC','perc_Non Top Partner','perc_Top Partner','perc_Specialties']]

0.05690307849460212 all MFC
0.0655861197511664 all Non Top Partner
0.04850267950036324 all Top Partner
0.14925196850393702 all Specialties

   country  perc_MFC  perc_Non Top Partner  perc_Top Partner  perc_Specialties
0       AM       NaN              0.067039          0.055505               NaN
1       BA       NaN              0.097187          0.032302          0.791667
2       BG       NaN              0.129870          0.043162          0.199485
3       CI  0.116696              0.044637          0.046206          0.332390
4       ES  0.035389              0.043102          0.045199          0.068256
5       GE       NaN                   NaN          0.044321               NaN
6       HR       NaN              0.110899          0.033395          0.314614
7       IT  0.047270              0.055629          0.048510          0.085590
8       KE  0.093330              0.244898          0.059151               NaN
9       KG  0.040123                   NaN          0.048174               NaN
10      KZ  0.027061              0.027027          0.028702               NaN
11      MA  0.067451              0.082797          0.061923               NaN
12      MD       NaN              0.147860          0.034746          0.313544
13      ME  0.018979              0.044199          0.039416          0.140964
14      NG  0.067650              0.087639          0.075606               NaN
15      PL       NaN                   NaN          0.040583               NaN
16      PT  0.077697              0.100694          0.049479          0.084669
17      RO       NaN              0.135190          0.047993               NaN
18      RS       NaN              0.042311          0.054845          0.531915
19      TN       NaN              0.058407          0.056034               NaN
20      UA  0.056621              0.108729          0.048033          0.144737
21      UG       NaN              0.109387          0.087374          0.796804

## Q3: Fresh Sessions CVR%

In [21]:
START_DATE = "'2024-07-01'"
END_DATE = "'2024-09-30'"

params = [
    {'name':'start_date', 'value':START_DATE},
    {'name':'end_date', 'value':END_DATE}
]

q.prepare_query(
    'sessions.sql'
    ,params=params
    ,to_load_file='sessions'
    ,load_from_to_load_file='sessions'
)

sessions  = q.query_run_starburst()

tmp = sessions.copy()
pivot_tmp = tmp.pivot(index='country', columns='segment',values=['f_sessions','o_sessions'])
pivot_tmp.columns = [f'{col[0]}_{col[1]}' for col in pivot_tmp.columns]
pivot_tmp.reset_index(inplace=True)
pivot_tmp.fillna(0, inplace=True)

pivot_tmp['cvr_MFC'] = pivot_tmp['o_sessions_MFC']/pivot_tmp['f_sessions_MFC']
pivot_tmp['cvr_Non Top Partner'] = pivot_tmp['o_sessions_Non Top Partner']/pivot_tmp['f_sessions_Non Top Partner']
pivot_tmp['cvr_Top Partner'] = pivot_tmp['o_sessions_Top Partner']/pivot_tmp['f_sessions_Top Partner']
pivot_tmp['cvr_Specialties'] = pivot_tmp['o_sessions_Specialties']/pivot_tmp['f_sessions_Specialties']

print(pivot_tmp['o_sessions_MFC'].sum()/pivot_tmp['f_sessions_MFC'].sum(),'all MFC')
print(pivot_tmp['o_sessions_Non Top Partner'].sum()/pivot_tmp['f_sessions_Non Top Partner'].sum(),'all Non Top Partner')
print(pivot_tmp['o_sessions_Top Partner'].sum()/pivot_tmp['f_sessions_Top Partner'].sum(),'all Top Partner')
print(pivot_tmp['o_sessions_Specialties'].sum()/pivot_tmp['f_sessions_Specialties'].sum(),'all Specialties')
pivot_tmp[['country','cvr_MFC','cvr_Non Top Partner','cvr_Top Partner','cvr_Specialties']]

0.26376796621501336 all MFC
0.16059320450470582 all Non Top Partner
0.3311238329606336 all Top Partner
0.15225156456771063 all Specialties

   country   cvr_MFC  cvr_Non Top Partner  cvr_Top Partner  cvr_Specialties
0        0  0.177033             0.147059         0.256917         0.250000
1       AL  1.000000                  NaN         0.000000         0.000000
2       AM       NaN             0.126339         0.341432              NaN
3       BA  0.000000             0.054589         0.179241         0.064070
4       BG       NaN             0.084583         0.286093         0.132749
5       CI  0.249950             0.318334         0.156676         0.111872
6       ES  0.293456             0.151464         0.415414         0.098324
7       GE       NaN             0.014528         0.197234              NaN
8       HR  0.166667             0.129308         0.229570         0.152059
9       IT  0.274737             0.091473         0.259443         0.115505
10      KE  0.270046             0.093160         0.269165              NaN
11      KG  0.234959                  NaN         0.242863              NaN
12      KZ  0.291620             0.230654         0.242987              NaN
13      MA  0.208473             0.158034         0.294878         0.000000
14      MD  0.000000             0.068715         0.186831         0.157214
15      ME  0.314575             0.166481         0.279864         0.102619
16      NG  0.207775             0.168000         0.117805         0.093494
17      PL  0.142857             0.178242         0.272486         0.297005
18      PT  0.302007             0.054984         0.328503         0.079867
19      RO  0.005764             0.036909         0.418101              NaN
20      RS  0.000000             0.189674         0.280345         0.116007
21      TN  0.250000             0.124190         0.177418              NaN
22      UA  0.293823             0.110051         0.394215         0.092900
23      UG       NaN             0.116894         0.219582         0.136489

# Value of nudging users to Fresh

## Q4: Query for nuding users to Fresh questions

In [22]:
START_DATE = "'2024-07-01'"
END_DATE = "'2024-08-31'"

params = [
    {'name':'start_date', 'value':START_DATE},
    {'name':'end_date', 'value':END_DATE}
]

q.prepare_query(
    'nudging.sql'
    ,params=params
    ,to_load_file='nudging'
    ,load_from_to_load_file='nudging'
)

nudging  = q.query_run_starburst()
print('Data Considerations:')
print('1st July to 31st August')
print('only delivered orders')
print('only parent orders')
nudging

Data Considerations:
1st July to 31st August
only delivered orders
only parent orders

,country,segment,f_orders,nf_orders,f_value,nf_value,f_orders_ret,nf_orders_ret,f_orders_pna,nf_orders_pna,f_products,nf_products
0,ES,Top Partner,390783,414407,1.365439e+07,9.868862e+06,327785,324489,192623,126914,5432248,3166518
1,NG,MFC,9628,22780,6.226931e+04,1.044350e+05,8491,18242,503,736,47587,69415
2,KG,Top Partner,5126,11886,6.140321e+04,9.677291e+04,3727,7811,280,329,40501,45414
3,ES,Specialties,7267,5973,3.106255e+05,1.733494e+05,6521,4992,3626,1819,73778,30982
4,PT,Specialties,1960,2300,6.746234e+04,5.164637e+04,1771,1823,1059,556,19363,10156
...,...,...,...,...,...,...,...,...,...,...,...,...
63,PT,Non Top Partner,53,3641,1.013960e+03,4.382986e+04,39,2288,30,636,479,17485
64,BG,Top Partner,29778,20474,9.085757e+05,4.483035e+05,22863,15211,11999,5160,372926,142482
65,UA,Non Top Partner,550,4575,1.825037e+04,1.117330e+05,458,3708,25,41,3034,10579
66,AM,Top Partner,7563,9717,2.092273e+05,1.756128e+05,6404,7619,2948,1639,103438,70316
67,CI,Specialties,1278,2128,2.474575e+04,4.008000e+04,1093,1688,209,234,4597,3854

### Q4.1 Retention 1st degree

In [23]:
tmp = nudging.copy()
pivot_tmp = tmp.pivot(index='country',columns='segment',values=['f_orders','nf_orders','f_orders_ret','nf_orders_ret'])
pivot_tmp.columns = [f'{col[0]}_{col[1]}' for col in pivot_tmp.columns]
pivot_tmp.reset_index(inplace=True)
pivot_tmp.fillna(0, inplace=True)

pivot_tmp['f_perc_MFC'] = pivot_tmp['f_orders_ret_MFC']/pivot_tmp['f_orders_MFC']
pivot_tmp['nf_perc_MFC'] = pivot_tmp['nf_orders_ret_MFC']/pivot_tmp['nf_orders_MFC']
pivot_tmp['f_perc_Non Top Partner'] = pivot_tmp['f_orders_ret_Non Top Partner']/pivot_tmp['f_orders_Non Top Partner']
pivot_tmp['nf_perc_Non Top Partner'] = pivot_tmp['nf_orders_ret_Non Top Partner']/pivot_tmp['nf_orders_Non Top Partner']
pivot_tmp['f_perc_Top Partner'] = pivot_tmp['f_orders_ret_Top Partner']/pivot_tmp['f_orders_Top Partner']
pivot_tmp['nf_perc_Top Partner'] = pivot_tmp['nf_orders_ret_Top Partner']/pivot_tmp['nf_orders_Top Partner']
pivot_tmp['f_perc_Specialties'] = pivot_tmp['f_orders_ret_Specialties']/pivot_tmp['f_orders_Specialties']
pivot_tmp['nf_perc_Specialties'] = pivot_tmp['nf_orders_ret_Specialties']/pivot_tmp['nf_orders_Specialties']

pivot_tmp[['country','f_perc_MFC', 'nf_perc_MFC', 'f_perc_Non Top Partner', 'nf_perc_Non Top Partner', 'f_perc_Top Partner', 'nf_perc_Top Partner', 'f_perc_Specialties', 'nf_perc_Specialties']]

,country,f_perc_MFC,nf_perc_MFC,f_perc_Non Top Partner,nf_perc_Non Top Partner,f_perc_Top Partner,nf_perc_Top Partner,f_perc_Specialties,nf_perc_Specialties
0,AM,NaN,NaN,0.823529,0.829726,0.846754,0.784090,NaN,NaN
1,BA,NaN,NaN,0.652695,0.582456,0.665946,0.591718,0.692308,0.379518
2,BG,NaN,NaN,0.803456,0.714573,0.767782,0.742942,0.839262,0.723281
3,CI,0.889485,0.822878,0.876521,0.800019,0.847170,0.805769,0.855243,0.793233
4,ES,0.807753,0.750769,0.856781,0.724880,0.838790,0.783020,0.897344,0.835761
5,GE,NaN,NaN,NaN,0.680115,0.851914,0.783513,NaN,NaN
6,HR,NaN,NaN,0.684713,0.526879,0.698681,0.613581,0.740434,0.622670
7,IT,0.732795,0.680442,0.696653,0.669251,0.691496,0.649395,0.768939,0.659839
8,KE,0.911838,0.854321,1.000000,0.416667,0.837179,0.780721,NaN,NaN
9,KG,0.823688,0.733536,NaN,NaN,0.727078,0.657160,NaN,NaN
10,KZ,0.832841,0.815219,0.864273,0.837490,0.716172,0.703432,NaN,NaN
11,MA,0.886396,0.805462,0.848693,0.789923,0.872600,0.832757,NaN,NaN
12,MD,NaN,NaN,0.594595,0.548263,0.675570,0.649310,0.670635,0.585807
13,ME,0.891112,0.854976,0.800975,0.695021,0.823712,0.757268,0.857143,0.787508
14,NG,0.881907,0.800790,0.805454,0.729892,0.719557,0.694387,NaN,0.686747
15,PL,NaN,NaN,NaN,0.761524,0.828016,0.774500,NaN,0.816378
16,PT,0.858263,0.748913,0.735849,0.628399,0.808115,0.723332,0.903571,0.792609
17,RO,NaN,NaN,0.764286,0.851826,0.848549,0.796277,NaN,NaN
18,RS,NaN,NaN,0.730519,0.678701,0.745006,0.677765,0.817308,0.760062
19,TN,NaN,NaN,0.682722,0.585283,0.722748,0.640028,NaN,NaN
20,UA,0.851202,0.816798,0.832727,0.810492,0.796461,0.755191,0.802721,0.764451
21,UG,NaN,NaN,0.844007,0.737756,0.820473,0.750395,0.744980,0.691346

### Q4.2 PNA

In [24]:
tmp = nudging.copy()
pivot_tmp = tmp.pivot(index='country',columns='segment',values=['f_orders_pna','nf_orders_pna','f_orders','nf_orders'])
pivot_tmp.columns = [f'{col[0]}_{col[1]}' for col in pivot_tmp.columns]
pivot_tmp.reset_index(inplace=True)
pivot_tmp.fillna(0, inplace=True)

pivot_tmp['f_perc_MFC_pna'] = pivot_tmp['f_orders_pna_MFC']/pivot_tmp['f_orders_MFC']
pivot_tmp['nf_perc_MFC_pna'] = pivot_tmp['nf_orders_pna_MFC']/pivot_tmp['nf_orders_MFC']
pivot_tmp['f_perc_Non Top Partner_pna'] = pivot_tmp['f_orders_pna_Non Top Partner']/pivot_tmp['f_orders_Non Top Partner']
pivot_tmp['nf_perc_Non Top Partner_pna'] = pivot_tmp['nf_orders_pna_Non Top Partner']/pivot_tmp['nf_orders_Non Top Partner']
pivot_tmp['f_perc_Top Partner_pna'] = pivot_tmp['f_orders_pna_Top Partner']/pivot_tmp['f_orders_Top Partner']
pivot_tmp['nf_perc_Top Partner_pna'] = pivot_tmp['nf_orders_pna_Top Partner']/pivot_tmp['nf_orders_Top Partner']
pivot_tmp['f_perc_Specialties_pna'] = pivot_tmp['f_orders_pna_Specialties']/pivot_tmp['f_orders_Specialties']
pivot_tmp['nf_perc_Specialties_pna'] = pivot_tmp['nf_orders_pna_Specialties']/pivot_tmp['nf_orders_Specialties']

pivot_tmp[['country','f_perc_MFC_pna', 'nf_perc_MFC_pna', 'f_perc_Non Top Partner_pna', 'nf_perc_Non Top Partner_pna', 'f_perc_Top Partner_pna', 'nf_perc_Top Partner_pna', 'f_perc_Specialties_pna', 'nf_perc_Specialties_pna']]

,country,f_perc_MFC_pna,nf_perc_MFC_pna,f_perc_Non Top Partner_pna,nf_perc_Non Top Partner_pna,f_perc_Top Partner_pna,nf_perc_Top Partner_pna,f_perc_Specialties_pna,nf_perc_Specialties_pna
0,AM,NaN,NaN,0.470588,0.240981,0.389792,0.168673,NaN,NaN
1,BA,NaN,NaN,0.125749,0.070175,0.291892,0.172050,0.000000,0.078313
2,BG,NaN,NaN,0.237581,0.104523,0.402948,0.252027,0.192358,0.153687
3,CI,0.072622,0.030682,0.236607,0.145710,0.146226,0.096795,0.163537,0.109962
4,ES,0.047232,0.019310,0.495972,0.239752,0.492916,0.306254,0.498968,0.304537
5,GE,NaN,NaN,NaN,0.031700,0.433074,0.251654,NaN,NaN
6,HR,NaN,NaN,0.092357,0.098208,0.332934,0.211092,0.111936,0.072571
7,IT,0.054411,0.031243,0.648013,0.418974,0.623787,0.400724,0.496313,0.174906
8,KE,0.060736,0.015557,0.000000,0.250000,0.143059,0.118403,NaN,NaN
9,KG,0.082997,0.039681,NaN,NaN,0.054623,0.027680,NaN,NaN
10,KZ,0.051815,0.032347,0.334145,0.212940,0.376065,0.212479,NaN,NaN
11,MA,0.086025,0.029965,0.459198,0.264138,0.337811,0.192646,NaN,NaN
12,MD,NaN,NaN,0.154054,0.127413,0.265515,0.121624,0.093254,0.031730
13,ME,0.100033,0.059466,0.253452,0.229253,0.474246,0.340541,0.303327,0.216779
14,NG,0.052243,0.032309,0.338206,0.204900,0.420664,0.308448,NaN,0.037240
15,PL,NaN,NaN,NaN,0.077790,0.583004,0.361769,NaN,0.085522
16,PT,0.048726,0.019726,0.566038,0.174677,0.482475,0.317630,0.540306,0.241739
17,RO,NaN,NaN,0.578571,0.053067,0.271476,0.144208,NaN,NaN
18,RS,NaN,NaN,0.364719,0.268402,0.406674,0.265867,0.009615,0.023220
19,TN,NaN,NaN,0.482989,0.297921,0.316475,0.184661,NaN,NaN
20,UA,0.050230,0.021227,0.045455,0.008962,0.327735,0.167381,0.078231,0.015414
21,UG,NaN,NaN,0.362069,0.208987,0.389701,0.289432,0.042671,0.037183

### Q4.3 AOV

In [25]:
tmp = nudging.copy()
pivot_tmp = tmp.pivot(index='country',columns='segment',values=['f_value','nf_value','f_orders','nf_orders'])
pivot_tmp.columns = [f'{col[0]}_{col[1]}' for col in pivot_tmp.columns]
pivot_tmp.reset_index(inplace=True)
pivot_tmp.fillna(0, inplace=True)

pivot_tmp['f_aov_MFC'] = pivot_tmp['f_value_MFC']/pivot_tmp['f_orders_MFC']
pivot_tmp['nf_aov_MFC'] = pivot_tmp['nf_value_MFC']/pivot_tmp['nf_orders_MFC']
pivot_tmp['f_aov_Non Top Partner'] = pivot_tmp['f_value_Non Top Partner']/pivot_tmp['f_orders_Non Top Partner']
pivot_tmp['nf_aov_Non Top Partner'] = pivot_tmp['nf_value_Non Top Partner']/pivot_tmp['nf_orders_Non Top Partner']
pivot_tmp['f_aov_Top Partner'] = pivot_tmp['f_value_Top Partner']/pivot_tmp['f_orders_Top Partner']
pivot_tmp['nf_aov_Top Partner'] = pivot_tmp['nf_value_Top Partner']/pivot_tmp['nf_orders_Top Partner']
pivot_tmp['f_aov_Specialties'] = pivot_tmp['f_value_Specialties']/pivot_tmp['f_orders_Specialties']
pivot_tmp['nf_aov_Specialties'] = pivot_tmp['nf_value_Specialties']/pivot_tmp['nf_orders_Specialties']

pivot_tmp[['country','f_aov_MFC', 'nf_aov_MFC', 'f_aov_Non Top Partner', 'nf_aov_Non Top Partner', 'f_aov_Top Partner', 'nf_aov_Top Partner', 'f_aov_Specialties', 'nf_aov_Specialties']]

,country,f_aov_MFC,nf_aov_MFC,f_aov_Non Top Partner,nf_aov_Non Top Partner,f_aov_Top Partner,nf_aov_Top Partner,f_aov_Specialties,nf_aov_Specialties
0,AM,NaN,NaN,18.315184,14.997517,27.664594,18.072744,NaN,NaN
1,BA,NaN,NaN,23.632346,12.565645,27.191216,16.385100,19.272317,11.084614
2,BG,NaN,NaN,22.026659,17.050452,30.511642,21.896234,27.872946,21.534985
3,CI,12.594565,9.725850,19.791684,13.219637,23.184572,14.106008,19.362873,18.834588
4,ES,31.786228,22.010283,35.741485,20.412222,34.941117,23.814420,42.744665,29.022161
5,GE,NaN,NaN,NaN,13.474396,21.250970,14.327067,NaN,NaN
6,HR,NaN,NaN,17.952771,12.496155,24.702101,16.225460,22.852847,18.159476
7,IT,33.903534,21.267659,34.650282,23.201932,35.274653,22.927988,42.694163,30.023006
8,KE,12.132197,9.691814,9.258275,7.425025,17.346507,12.569704,NaN,NaN
9,KG,17.038845,11.201561,NaN,NaN,11.978778,8.141756,NaN,NaN
10,KZ,14.436429,10.278335,11.109469,8.757388,14.626257,10.304324,NaN,NaN
11,MA,17.013932,11.461208,21.484253,13.711402,18.312049,14.189650,NaN,NaN
12,MD,NaN,NaN,27.549761,14.959200,23.026807,15.040125,16.600761,15.066265
13,ME,29.373736,22.152175,21.911600,17.254077,31.089598,21.214573,25.908630,26.782952
14,NG,6.467523,4.584504,8.788293,4.802349,9.478778,4.644903,NaN,7.984366
15,PL,NaN,NaN,NaN,13.358245,33.163733,21.647904,NaN,16.373752
16,PT,23.719016,16.038330,19.131321,12.037863,28.779996,19.645162,34.419561,22.454943
17,RO,NaN,NaN,25.370494,19.182209,32.775633,23.229440,NaN,NaN
18,RS,NaN,NaN,21.961129,15.319977,25.551477,18.226304,3.879182,17.721838
19,TN,NaN,NaN,15.904477,11.161472,14.964199,10.454319,NaN,NaN
20,UA,20.719892,13.192619,33.182488,24.422512,15.728518,10.263751,30.536896,21.215781
21,UG,NaN,NaN,19.416628,13.003497,18.200856,11.645097,11.529887,10.914899

### Q4.4 UIPO

In [26]:
tmp = nudging.copy()
pivot_tmp = tmp.pivot(index='country',columns='segment',values=['f_products','nf_products','f_orders','nf_orders'])
pivot_tmp.columns = [f'{col[0]}_{col[1]}' for col in pivot_tmp.columns]
pivot_tmp.reset_index(inplace=True)
pivot_tmp.fillna(0, inplace=True)

pivot_tmp['f_uipo_MFC'] = pivot_tmp['f_products_MFC']/pivot_tmp['f_orders_MFC']
pivot_tmp['nf_uipo_MFC'] = pivot_tmp['nf_products_MFC']/pivot_tmp['nf_orders_MFC']
pivot_tmp['f_uipo_Non Top Partner'] = pivot_tmp['f_products_Non Top Partner']/pivot_tmp['f_orders_Non Top Partner']
pivot_tmp['nf_uipo_Non Top Partner'] = pivot_tmp['nf_products_Non Top Partner']/pivot_tmp['nf_orders_Non Top Partner']
pivot_tmp['f_uipo_Top Partner'] = pivot_tmp['f_products_Top Partner']/pivot_tmp['f_orders_Top Partner']
pivot_tmp['nf_uipo_Top Partner'] = pivot_tmp['nf_products_Top Partner']/pivot_tmp['nf_orders_Top Partner']
pivot_tmp['f_uipo_Specialties'] = pivot_tmp['f_products_Specialties']/pivot_tmp['f_orders_Specialties']
pivot_tmp['nf_uipo_Specialties'] = pivot_tmp['nf_products_Specialties']/pivot_tmp['nf_orders_Specialties']

pivot_tmp[['country','f_uipo_MFC', 'nf_uipo_MFC', 'f_uipo_Non Top Partner', 'nf_uipo_Non Top Partner', 'f_uipo_Top Partner', 'nf_uipo_Top Partner', 'f_uipo_Specialties', 'nf_uipo_Specialties']]

,country,f_uipo_MFC,nf_uipo_MFC,f_uipo_Non Top Partner,nf_uipo_Non Top Partner,f_uipo_Top Partner,nf_uipo_Top Partner,f_uipo_Specialties,nf_uipo_Specialties
0,AM,NaN,NaN,9.470588,6.825397,13.676848,7.236390,NaN,NaN
1,BA,NaN,NaN,10.922156,3.807018,13.012973,6.713458,7.230769,2.162651
2,BG,NaN,NaN,9.049676,5.299497,12.523541,6.959168,7.208169,4.239229
3,CI,5.919114,2.581710,6.711745,3.551086,6.993396,3.731731,3.597027,1.811090
4,ES,7.827102,3.875508,13.231906,5.687694,13.900932,7.641082,10.152470,5.187008
5,GE,NaN,NaN,NaN,3.368876,9.940147,5.054587,NaN,NaN
6,HR,NaN,NaN,5.378981,3.246609,9.606563,4.916385,4.213307,2.565806
7,IT,8.451123,4.024475,12.848849,6.745293,16.674979,8.406395,10.167374,3.862520
8,KE,5.875062,2.346832,3.500000,3.166667,7.697308,4.282521,NaN,NaN
9,KG,7.420592,3.646677,NaN,NaN,7.901092,3.820798,NaN,NaN
10,KZ,6.121887,3.931212,7.427267,4.601413,9.135219,5.401660,NaN,NaN
11,MA,7.878418,4.243821,10.761461,5.174177,9.517469,5.832214,NaN,NaN
12,MD,NaN,NaN,4.948649,3.731660,11.332875,5.189431,4.152778,2.030024
13,ME,9.948180,5.161256,10.816409,4.906639,12.466676,6.815266,5.183953,3.977342
14,NG,4.942563,3.047191,5.879955,3.538033,6.107011,3.689473,NaN,1.713034
15,PL,NaN,NaN,NaN,4.109105,18.886130,9.733773,NaN,4.303971
16,PT,6.684522,3.110723,9.037736,4.802252,12.629501,7.467795,9.879082,4.415652
17,RO,NaN,NaN,12.778571,3.492074,12.489700,5.611913,NaN,NaN
18,RS,NaN,NaN,9.867424,5.221383,11.985133,6.445762,2.423077,1.780960
19,TN,NaN,NaN,11.351873,6.045159,11.012662,5.673110,NaN,NaN
20,UA,8.245585,3.727144,5.516364,2.312350,13.576038,6.606112,5.853741,2.289499
21,UG,NaN,NaN,7.416256,3.658821,8.035781,4.864638,3.168173,1.607108