# Fresh Products

In [1]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import seaborn as sns
import sys

# Move two levels up (to the project root) and append the `src` folder
src_path = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))

# Append src to sys.path
sys.path.append(src_path)

from src import query_engines, dataframe_visualizer

q = query_engines.QueryEngines()

# Current Picture

## Q1: Identify all kinds of segmentation

The first part is to make sure that we can identify the 5 different segments. These are Non top Partners, Top Partners, MFCs, Specialties and all Groceries partners together

In [13]:
q.prepare_query(
    'possible_segmentations.sql'
    ,params=None
    ,to_load_file='possible_segmentations'
    ,load_from_to_load_file=None
)

possible_segmentations  = q.query_run_starburst()
possible_segmentations.sort_values(by='n_store_id', ascending=False)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/84d0964672c5501c80e7a2cb69ea46b2c0133fa9d749c61aa53090d47d7a5c38

           segment  n_store_id  n_store_address_id
2      Specialties        8348               15346
3  Non Top Partner        2723                6043
0      Top Partner        2279               10823
1              MFC         104                 256

### Q1.1 How many of them are migrated

In [20]:
q.prepare_query(
    'possible_segmentations_m.sql'
    ,params=None
    ,to_load_file='possible_segmentations_m'
    ,load_from_to_load_file='possible_segmentations_m'
)

possible_segmentations_m  = q.query_run_starburst()
possible_segmentations_m.sort_values(by='n_store_id', ascending=False)

           segment  n_store_id  n_store_id_m  perc_m
3      Specialties        8348           480    0.06
1  Non Top Partner        2723           729    0.27
2      Top Partner        2279          1802    0.79
0              MFC         104           102    0.98