# Fresh Products

In [1]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import seaborn as sns
import sys

# Move two levels up (to the project root) and append the `src` folder
src_path = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))

# Append src to sys.path
sys.path.append(src_path)

from src import query_engines, dataframe_visualizer

q = query_engines.QueryEngines()

## Q1: Identify all kinds of segmentation

In this first part I want to segment all the possible partners. In Specialties, TP, NTP, MFCs and All groceries. We also check what is the perc of migrated Store Address Ids for each of them.

### What is the distribution of segments_lvl 1?

In [8]:
q.prepare_query(
    'backup/possible_segmentations.sql'
    ,params=None
    ,to_load_file='possible_segmentations'
    ,load_from_to_load_file='possible_segmentations'
)

possible_segmentations  = q.query_run_starburst()

grouped = possible_segmentations.groupby('segment_1').agg(
    distinct_sad_id = ('store_address_id','nunique'),
    migrated_sad_id = ('is_migrated', lambda x: x.sum())
).reset_index()

grouped['perc_m'] = grouped['migrated_sad_id']/grouped['distinct_sad_id']
grouped.sort_values(by='distinct_sad_id', ascending=False)

         segment_1  distinct_sad_id  migrated_sad_id    perc_m
2      Specialties            15387             1442  0.093715
3      Top Partner            10546             8496  0.805614
1  Non Top Partner             5850             1682  0.287521
0              MFC              256              245  0.957031

### What is the distribution of segment_lvl 2?

In [9]:
grouped = possible_segmentations.groupby('segment_2').agg(
    distinct_sad_id = ('store_address_id','nunique'),
    migrated_sad_id = ('is_migrated', lambda x: x.sum())
).reset_index()

grouped['perc_m'] = grouped['migrated_sad_id']/grouped['distinct_sad_id']
grouped.sort_values(by='distinct_sad_id', ascending=False)

           segment_2  distinct_sad_id  migrated_sad_id    perc_m
0  Groceries Partner            16396            10178  0.620761
2        Specialties            15387             1442  0.093715
1                MFC              256              245  0.957031

# Q2: Rest of metrics

In [47]:
START_DATE = "'2024-07-01'"
END_DATE = "'2024-09-15'"
END_DATE_RETENTION = "'2024-10-15'"

params = [
    {'name':'start_date','value':START_DATE},
    {'name':'end_date','value':END_DATE},
    {'name':'end_date_retention','value':END_DATE_RETENTION}
]

q.prepare_query(
    'metrics.sql'
    ,params=params
    ,to_load_file='metrics'
    ,load_from_to_load_file=None
)

metrics  = q.query_run_starburst()
metrics.to_csv('outputs/metrics.csv')

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/ccc4673de490e2945332f4a370ff82a75d1513f74e457103e06b684285d625ac

In [109]:
START_DATE = "'2024-07-01'"
END_DATE = "'2024-09-15'"
END_DATE_RETENTION = "'2024-10-15'"

params = [
    {'name':'start_date','value':START_DATE},
    {'name':'end_date','value':END_DATE},
    {'name':'end_date_retention','value':END_DATE_RETENTION}
]

q.prepare_query(
    'subsequent_all.sql'
    ,params=params
    ,to_load_file='subsequent_all'
    ,load_from_to_load_file=None
)

subsequent_all  = q.query_run_starburst()
subsequent_all

/Users/jordicremades/Documents/repos/central-node/src/query_engines.py:138: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/8748e61abe1b688639265cf4320d67bbd3bd68aeb5942621ec23e6614d8f0364

,country,segment_2,f_subsequent_orders,nf_subsequent_orders,f_feedback_subsequent_orders,nf_feedback_subsequent_orders,n_f_feedback_subsequent_orders_no0,f_feedback_subsequent_orders_no0,n_nf_feedback_subsequent_orders_no0,nf_feedback_subsequent_orders_no0,n_rows,n_distinct_order_id
0,KG,Groceries Partner,3.122721,3.142644,2.574257,1.882353,51,5.098039,10,3.200000,21051,21051
1,BA,Groceries Partner,2.804943,3.176738,2.357143,1.333333,23,4.304348,2,2.000000,9620,9620
2,KE,MFC,8.240955,21.153826,2.942446,3.700000,178,4.595506,34,5.441176,88051,88051
3,ME,Specialties,1.916667,2.120275,0.000000,1.000000,0,NaN,1,1.000000,2667,2667
4,PT,MFC,4.332486,3.629614,3.062356,2.258799,283,4.685512,276,3.952899,138563,138563
5,CI,MFC,4.294850,3.906178,3.171717,2.103448,135,4.651852,18,3.388889,35337,35337
6,ME,Groceries Partner,4.351816,3.217652,3.194805,1.833333,102,4.823529,4,2.750000,22247,22247
7,KZ,MFC,4.743227,5.218475,3.959732,2.406250,98,6.020408,18,4.277778,57977,57977
8,RS,Specialties,2.356866,1.592056,0.625000,1.000000,4,1.250000,2,1.500000,3706,3706
9,MA,Groceries Partner,5.978839,5.168023,3.459774,3.682021,2216,5.103791,422,5.872038,535979,535979
10,MD,Groceries Partner,2.955940,3.217344,1.276923,2.000000,29,2.862069,1,2.000000,13563,13563
11,UG,Specialties,1.498985,4.535392,0.550000,1.000000,10,2.200000,1,1.000000,6252,6252
12,MA,MFC,4.446978,3.172135,2.938987,1.935768,1065,4.523005,400,3.842500,246048,246048
13,PT,Groceries Partner,4.458593,3.874340,3.685692,2.430380,890,5.296629,67,5.731343,289140,289140
14,MD,Specialties,1.838395,2.565810,0.166667,1.000000,1,1.000000,1,1.000000,4075,4075
15,BG,Groceries Partner,3.740927,3.705711,2.740659,4.833333,314,3.971338,10,5.800000,65546,65546
16,CI,Specialties,1.099412,1.293103,0.545455,0.000000,3,2.000000,0,NaN,4246,4246
17,NG,MFC,4.448799,3.613474,2.781893,2.114583,165,4.096970,48,4.229167,39535,39535
18,NG,Groceries Partner,3.070449,2.998934,2.177914,3.162162,104,3.413462,26,4.500000,36324,36324
19,GE,Groceries Partner,3.366356,3.059721,1.821429,1.557143,166,3.379518,36,3.027778,82765,82765
20,ES,Specialties,2.573824,1.508480,2.091743,0.400000,66,3.454545,2,1.000000,17381,17381
21,RO,Groceries Partner,9.045885,6.982633,4.644727,3.691943,2066,6.182478,116,6.715517,817717,817717
22,PT,Specialties,2.472340,0.853808,2.869565,0.000000,14,4.714286,0,NaN,5388,5388
23,UA,Specialties,2.226361,3.271879,0.600000,NaN,2,1.500000,0,NaN,2949,2949
24,CI,Groceries Partner,5.133094,4.465242,4.936073,2.820513,167,6.473054,54,4.074074,96883,96883
25,RS,Groceries Partner,3.726124,3.412972,2.704036,2.232558,285,4.231579,24,4.000000,81249,81249
26,PL,Groceries Partner,2.912154,2.758986,2.181916,2.064516,551,3.678766,16,4.000000,211560,211560
27,IT,Groceries Partner,2.879272,2.733818,2.069469,1.344262,954,3.715933,45,3.644444,351209,351209
28,BG,Specialties,2.036105,2.464334,0.782609,0.375000,9,2.000000,2,1.500000,7925,7925
29,ME,MFC,4.762171,4.407071,2.470588,2.950000,42,4.000000,11,5.363636,12016,12016
30,TN,Groceries Partner,2.912919,2.169161,2.092857,1.323529,249,3.530120,13,3.461538,47627,47627
31,HR,Specialties,2.403462,2.375237,1.461538,0.555556,3,6.333333,10,2.000000,17776,17776
32,IT,MFC,2.902277,3.044220,1.627724,1.844898,582,3.207904,113,4.000000,195063,195063
33,KZ,Groceries Partner,3.238316,4.649993,1.994413,1.729167,196,3.642857,24,3.458333,58031,58031
34,AM,Groceries Partner,5.725083,5.786352,3.693548,2.300000,39,5.871795,6,3.833333,22537,22537
35,UA,MFC,5.182382,5.044566,3.166667,2.918367,240,4.987500,62,4.612903,150181,150181
36,KG,MFC,5.304598,5.279606,3.617021,2.647059,63,5.396825,9,5.000000,27333,27333
37,KE,Groceries Partner,3.784818,3.417390,2.373077,2.285714,154,4.006494,25,4.480000,114692,114692
38,IT,Specialties,1.393647,1.834662,0.843137,0.083333,19,2.263158,1,1.000000,18109,18109
39,RO,Specialties,2.223881,2.183070,4.000000,0.000000,1,4.000000,0,NaN,11085,11085
40,UG,Groceries Partner,4.588051,3.933881,2.820513,1.870968,73,4.520548,12,4.833333,30932,30932
41,PL,Specialties,3.469484,3.519898,NaN,1.400000,0,NaN,6,4.666667,61752,61752
42,HR,Groceries Partner,3.002091,2.150330,2.622222,1.492308,87,4.068966,24,4.041667,43203,43203
43,BA,Specialties,0.818182,0.356164,NaN,NaN,0,NaN,0,NaN,289,289
44,NG,Specialties,NaN,1.074178,NaN,0.500000,0,NaN,1,1.000000,1065,1065
45,UA,Groceries Partner,4.561205,4.463587,2.755216,2.661290,903,4.387597,103,4.805825,396564,396564
46,ES,MFC,3.226778,3.307867,1.845279,1.649590,478,3.393305,214,3.761682,309064,309064
47,ES,Groceries Partner,4.693089,3.984186,3.671868,2.712209,3161,5.062322,187,4.989305,1083716,1083716

In [98]:
subsequent_all.sort_values(by='orders_28d', ascending=False)

        p_creation_date      order_id  orders_28d
5318684      2024-07-10  100724661551         821
1718626      2024-07-09  100723806670         820
4599002      2024-07-09  100723490169         820
442077       2024-07-10  100724740092         820
2749679      2024-07-09  100723824890         820
...                 ...           ...         ...
1849933      2024-08-30  100834135883           0
1849934      2024-08-29  100830653090           0
4280704      2024-08-10  100792394728           0
1849935      2024-08-26  100825690656           0
4499027      2024-07-05  100714208824           0

[5895988 rows x 3 columns]

In [86]:
subsequent_all.sum()

country                            ITBGHRPLGEMENGESUAROPTNGHRCIRSTNBAITITROPLUGES...
segment_2                          Groceries PartnerSpecialtiesGroceries PartnerG...
f_subsequent_orders                                                       1773575390
f_subsequent_customers                                                       3358566
nf_subsequent_orders                                                       969935710
f_subsequent_customers                                                       1492631
f_feedback_subsequent_orders                                                 1045792
f_feedback_subsequent_customers                                                19151
nf_feedback_subsequent_orders                                                 176523
f_feedback_subsequent_customers                                                 3061
n_rows                                                                       5902351
n_distinct_order_id                                                          5902351
dtype: object

In [83]:
START_DATE = "'2024-07-01'"
END_DATE = "'2024-09-15'"
END_DATE_RETENTION = "'2024-10-15'"

params = [
    {'name':'start_date','value':START_DATE},
    {'name':'end_date','value':END_DATE},
    {'name':'end_date_retention','value':END_DATE_RETENTION}
]

q.prepare_query(
    'subsequent_fresh.sql'
    ,params=params
    ,to_load_file='subsequent_fresh'
    ,load_from_to_load_file=None
)

subsequent_fresh  = q.query_run_starburst()
subsequent_fresh

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/295a934f81d17cdbde58735ec1cda7efe3d1b69a2376bad6e2093716f6656202

In [84]:
subsequent_all

,country,segment_2,f_fsubsequent_orders,f_fsubsequent_customers,nf_fsubsequent_orders,f_fsubsequent_customers,f_feedback_fsubsequent_orders,f_feedback_fsubsequent_customers,nf_feedback_fsubsequent_orders,f_feedback_fsubsequent_customers,fn_rows,fn_distinct_order_id
0,CI,Specialties,11456,1220,1452,228,6,3,0,0,4259,4259
1,ES,Groceries Partner,62619247,742814,10265228,124209,200080,3618,7732,154,1084970,1084970
2,ME,Groceries Partner,981768,13784,143609,3109,7136,122,26,3,22257,22257
3,KZ,MFC,1358949,23287,882099,18544,4204,108,231,14,58116,58116
4,ME,Specialties,16319,761,3461,355,0,0,1,1,2671,2671
5,PT,Groceries Partner,15923802,180687,2909856,35873,65363,995,5263,59,289228,289228
6,MA,Groceries Partner,37448163,325344,11937840,114535,139176,2526,17220,386,536337,536337
7,BG,Groceries Partner,2457779,47024,283840,5787,11347,352,644,10,65626,65626
8,MD,Specialties,6759,519,16171,646,7,2,0,0,4076,4076
9,KG,Groceries Partner,397077,8166,170489,3664,2207,63,316,6,21078,21078
10,NG,Specialties,0,0,0,0,0,0,0,0,1065,1065
11,PL,Specialties,2986,129,11001,711,0,0,0,0,61794,61794
12,KG,MFC,773958,10047,492643,7138,3883,68,214,8,27443,27443
13,HR,Groceries Partner,953447,16991,184708,6210,3168,99,241,13,43214,43214
14,KZ,Groceries Partner,1124807,28006,610872,11356,5198,239,594,20,58060,58060
15,AM,Groceries Partner,1351787,14491,335907,4236,4009,44,305,7,22618,22618
16,KE,Groceries Partner,2892559,59507,964527,23506,4977,191,399,18,114798,114798
17,ES,MFC,5465913,142467,2227312,60700,13059,593,3169,139,310375,310375
18,KE,MFC,9130699,29914,61213096,27085,5700,212,1633,25,88298,88298
19,PT,MFC,2764728,50345,1144429,30510,13503,309,2140,108,138750,138750
20,CI,MFC,866416,16408,283402,7811,5657,158,133,17,35438,35438
21,PL,Groceries Partner,4759592,136577,493856,16697,16959,646,205,13,211726,211726
22,RS,Specialties,21748,947,4167,243,45,5,0,0,3719,3719
23,ME,MFC,268941,5886,119814,3449,979,48,339,10,12055,12055
24,CI,Groceries Partner,3047234,48821,1229843,24936,10389,185,1371,39,96967,96967
25,HR,Specialties,120406,3965,39645,1608,15,4,18,3,17785,17785
26,NG,Groceries Partner,416170,11762,214315,9016,2688,105,480,18,36340,36340
27,MA,MFC,5970242,103478,2192428,61609,49833,1253,7279,281,246535,246535
28,MD,Groceries Partner,314900,7331,75675,1866,679,39,0,0,13575,13575
29,NG,MFC,834449,15975,407854,11205,5079,197,1022,42,39606,39606
30,UG,Specialties,50427,3258,2220,158,246,17,0,0,6256,6256
31,UA,MFC,3469053,50598,2711652,45395,10335,278,2007,40,150348,150348
32,ES,Specialties,314859,10729,25753,1066,2222,77,8,2,17437,17437
33,RS,Groceries Partner,2660914,49649,475921,10260,10842,329,212,17,81289,81289
34,GE,Groceries Partner,1503970,37081,635877,16485,3796,216,240,26,82875,82875
35,RO,Groceries Partner,1223591133,528006,236066867,143205,178578,2269,9472,86,818120,818120
36,RO,Specialties,5809,187,4003,306,0,0,0,0,11092,11092
37,PT,Specialties,85498,2674,5741,382,393,15,0,0,5390,5390
38,IT,Specialties,98724,6847,12588,1109,167,24,0,0,18124,18124
39,UG,Groceries Partner,804210,15057,342902,7441,2132,84,119,11,30958,30958
40,BA,Specialties,366,78,23,9,0,0,0,0,321,321
41,IT,Groceries Partner,9532048,203342,1647670,35638,35671,1144,632,38,351262,351262
42,BG,Specialties,57633,2935,15263,913,269,12,4,3,7930,7930
43,UA,Groceries Partner,15534779,214564,4427637,75046,35238,1051,3311,89,396625,396625
44,TN,Groceries Partner,1048666,28630,145037,5139,6306,288,273,14,47681,47681
45,IT,MFC,3472597,89525,1042217,31321,12868,717,1300,57,195226,195226
46,BA,Groceries Partner,177263,5037,54435,1242,734,29,0,0,9687,9687
47,UA,Specialties,7515,426,11114,513,7,3,0,0,2951,2951

In [36]:
metrics

  p_creation_date      order_id  order_subvertical3_ret1
0      2024-07-01  100704824625                        0
1      2024-08-02  100775039338                        0
2      2024-09-07  100850941677                        0
3      2024-08-31  100836979757                        0
4      2024-10-06  100914513235                        0
5      2024-07-10  100725637977                        2
6      2024-07-19  100745110702                        3
7      2024-07-20  100746338917                        3
8      2024-09-16  100871066733                        5
9      2024-09-25  100889638256                        6

In [32]:
metrics

     _col0    _col1
0  5706152  5706152

In [29]:
metrics

     _col0    _col1
0  9249372  9249372

In [17]:
metrics

     _col0    _col1
0  5907066  5907066

In [24]:
metrics

     _col0    _col1
0  5706152  5706152