# Loyalty Cards

## Executive summary

In this notebook I will perform the MDE for loyalty cards experiment

## Config

In [2]:
# import matplotlib.pyplot as  plt
# import numpy as np
import pandas as pd
# import seaborn as sns
import sys

sys.path.append('c:\\Users\\Jordi Cremades\\Documents\\Repos\\central-node')

# from utils import dataset_meta_stats
# from utils import dataset_stats
from utils import query_engines

# dms = dataset_meta_stats.DatasetMetaStats() 
# ds = dataset_stats.DatasetStats()

## [ ] Dataset

In [14]:
START_DATE = "'2024-05-01'"
END_DATE = "'2024-06-01'"


params = [
    # dates
    {'name':'start_date', 'value': str(START_DATE)},
    {'name':'end_date', 'value': str(END_DATE)},
]

q = query_engines.QueryEngines(
    query='lc_mde.sql',
    params=params,
    printq=None,
    output_file='lc_mde.sq',
    load_from_output_file=None
    
)

df = q.query_run_starbust()
df

c:\Users\Jordi Cremades\Documents\Repos\central-node\utils\query_engines.py:162: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.tp__read_query, conn)

Open the following URL in browser for the external authentication:
https://starburst.g8s-data-platform-prod.glovoint.com/oauth2/token/initiate/a33afef3718ac8542faa4d581ed3919910ff6085fcef69a0bac04e2900a6ce77

        customer_id p_creation_date  n_orders  n_orders_with_loyalty
0               735      2024-05-01         0                      0
1               735      2024-05-02         0                      0
2               735      2024-05-03         2                      0
3               735      2024-05-04         0                      0
4               735      2024-05-05         0                      0
...             ...             ...       ...                    ...
872283    170734773      2024-05-28         0                      0
872284    170734773      2024-05-29         0                      0
872285    170734773      2024-05-30         0                      0
872286    170734773      2024-05-31         0                      0
872287    170734773      2024-06-01         1                      1

[872288 rows x 4 columns]