# GMV Loss mismatch

## Executive summary

## Config

In [99]:
# import matplotlib.pyplot as  plt
# import numpy as np
import pandas as pd
# import seaborn as sns
import sys

sys.path.append('c:\\Users\\Jordi Cremades\\Documents\\Repos\\central-node')

from utils import dataset_meta_stats
from utils import dataset_stats
from utils import query_engines

dms = dataset_meta_stats.DatasetMetaStats() 
ds = dataset_stats.DatasetStats()

## [X] Task 1: My query

In [59]:
q = query_engines.QueryEngines(
    query='gmv_loss.sql',
    output_file='gmv_loss_query',
    load_from_output_file='gmv_loss_query'
)

df1 = q.query_run_starbust()
df1.head()

,country_code,week_num,order_id,refunds_to_customer,cancellations_to_pna,gmv_loss_numerator,gmv_loss_denominator,perc_gmv
0,ES,22,100639317184,0.0,0.0,0.00,26.93,0.000000
1,ES,22,100626176781,0.0,0.0,-1.19,15.24,-0.078084
2,ES,22,100628765696,0.0,0.0,0.00,37.00,0.000000
3,ES,22,100628559550,0.0,0.0,-1.29,26.69,-0.048333
4,ES,22,100639832338,0.0,0.0,0.00,15.80,0.000000

## [X] Task 2: Looker query

In [77]:
q = query_engines.QueryEngines(
    query='gmv_loss_looker.sql',
    output_file='gmv_loss_looker',
    load_from_output_file='gmv_loss_looker'
)

df2 = q.query_run_starbust()
df2.head()

,bought_products.order_id,bought_products.products_value_eur,bought_products.products_value_delivered_eur,placed_value,pna_canx,refunds_due_to_wm,product_pna.number_of_products_with_replacement,product_pna.number_of_products_with_pna_1,product_pna.percentage_of_products_with_pna
0,100640666640,540.299996,382.689998,540.299996,0.0,0.0,0,11,0.2075
1,100631747449,500.189999,486.819998,500.189999,0.0,0.0,0,1,0.1000
2,100639627464,499.390000,486.390000,499.390000,0.0,0.0,1,1,0.0625
3,100625672469,491.889999,474.639999,491.889999,0.0,0.0,0,4,0.0714
4,100637383499,462.000000,462.000000,462.000000,0.0,0.0,0,0,0.0000

In [78]:
df_final = pd.merge(df1,df2, left_on='order_id', right_on='bought_products.order_id')

In [106]:
columns_to_delete = ['country_code'
                     ,'week_num'
                     ,'bought_products.order_id'
                     ,'bought_products.products_value_delivered_eur'
                     ,'placed_value'
                     ,'product_pna.number_of_products_with_replacement'
                     ,'product_pna.number_of_products_with_pna_1'
                     ,'product_pna.percentage_of_products_with_pna']

tmp = df_final.drop(columns=columns_to_delete)

tmp

,order_id,refunds_to_customer,cancellations_to_pna,gmv_loss_numerator,gmv_loss_denominator,perc_gmv,bought_products.products_value_eur,pna_canx,refunds_due_to_wm
0,100639317184,0.0,0.0,0.00,26.93,0.000000,26.930000,0.0,0.0
1,100626176781,0.0,0.0,-1.19,15.24,-0.078084,15.239999,0.0,0.0
2,100628765696,0.0,0.0,0.00,37.00,0.000000,37.000000,0.0,0.0
3,100628559550,0.0,0.0,-1.29,26.69,-0.048333,26.689999,0.0,0.0
4,100639832338,0.0,0.0,0.00,15.80,0.000000,15.800000,0.0,0.0
...,...,...,...,...,...,...,...,...,...
152131,100635319834,0.0,0.0,0.00,23.47,0.000000,23.470000,0.0,0.0
152132,100627185273,0.0,0.0,0.00,19.27,0.000000,19.270000,0.0,0.0
152133,100626390230,0.0,0.0,0.00,65.87,0.000000,65.869998,0.0,0.0
152134,100626875623,0.0,0.0,0.00,48.92,0.000000,48.919998,0.0,0.0
152135,100627036975,0.0,0.0,0.00,20.60,0.000000,20.600000,0.0,0.0

In [102]:
d1, d2 = dms.compare_colums(df1,df2,'order_id','bought_products.order_id')

Number of items in order_id in d1: 164337
Number of items in bought_products.order_id in d2: 152144
----------------------------------------
Shared items in both d1 and d2: 152136
Items in order_id only in d1: 12201
Items in bought_products.order_id only in d2: 8
----------------------------------------
% in d1 also in d2: 0.9257562204494423
% in d2 also in d1: 0.9999474182353559

In [104]:
d1.describe()

,week_num,order_id,refunds_to_customer,cancellations_to_pna,gmv_loss_numerator,gmv_loss_denominator,perc_gmv
count,12201.0,1.220100e+04,12201.0,12201.0,12201.0,12201.0,0.0
mean,22.0,1.006323e+11,0.0,0.0,0.0,0.0,NaN
std,0.0,4.241254e+06,0.0,0.0,0.0,0.0,NaN
min,22.0,1.006257e+11,0.0,0.0,0.0,0.0,NaN
25%,22.0,1.006284e+11,0.0,0.0,0.0,0.0,NaN
50%,22.0,1.006322e+11,0.0,0.0,0.0,0.0,NaN
75%,22.0,1.006364e+11,0.0,0.0,0.0,0.0,NaN
max,22.0,1.006414e+11,0.0,0.0,0.0,0.0,NaN

In [105]:
tmp1 = df1[df1['cancellations_to_pna']>0]
tmp2 = df2[df2['pna_canx']>0]

d1, d2 = dms.compare_colums(tmp1,tmp2,'order_id','bought_products.order_id')

Number of items in order_id in d1: 694
Number of items in bought_products.order_id in d2: 694
----------------------------------------
Shared items in both d1 and d2: 694
Items in order_id only in d1: 0
Items in bought_products.order_id only in d2: 0
----------------------------------------
% in d1 also in d2: 1.0
% in d2 also in d1: 1.0

In [108]:
df1['gmv_loss_denominator'].sum()

4219420.190000001

In [110]:
df2['bought_products.products_value_eur'].sum()

4219896.245179

In [113]:
df1['cancellations_to_pna'].sum()

12113.78

In [115]:
df2['pna_canx'].sum()

12113.779945000002

In [116]:
df1['refunds_to_customer'].sum()

27783.78

In [117]:
df2['refunds_due_to_wm'].sum()

27538.599952000008

In [111]:
df1.columns

Index(['country_code', 'week_num', 'order_id', 'refunds_to_customer',
       'cancellations_to_pna', 'gmv_loss_numerator', 'gmv_loss_denominator',
       'perc_gmv'],
      dtype='object')

In [112]:
df2.columns

Index(['bought_products.order_id', 'bought_products.products_value_eur',
       'bought_products.products_value_delivered_eur', 'placed_value',
       'pna_canx', 'refunds_due_to_wm',
       'product_pna.number_of_products_with_replacement',
       'product_pna.number_of_products_with_pna_1',
       'product_pna.percentage_of_products_with_pna'],
      dtype='object')

In [119]:
tmp['refunds_due_to_wm'].sum()

27523.999952

In [120]:
tmp['refunds_to_customer'].sum()

27783.779999999995

In [123]:
tmp['gmv_loss_numerator'].sum()

-274345.1

In [124]:
tmp.columns

Index(['order_id', 'refunds_to_customer', 'cancellations_to_pna',
       'gmv_loss_numerator', 'gmv_loss_denominator', 'perc_gmv',
       'bought_products.products_value_eur', 'pna_canx', 'refunds_due_to_wm'],
      dtype='object')

In [128]:
df2

,bought_products.order_id,bought_products.products_value_eur,bought_products.products_value_delivered_eur,placed_value,pna_canx,refunds_due_to_wm,product_pna.number_of_products_with_replacement,product_pna.number_of_products_with_pna_1,product_pna.percentage_of_products_with_pna
0,100640666640,540.299996,382.689998,540.299996,0.0,0.0,0,11,0.2075
1,100631747449,500.189999,486.819998,500.189999,0.0,0.0,0,1,0.1000
2,100639627464,499.390000,486.390000,499.390000,0.0,0.0,1,1,0.0625
3,100625672469,491.889999,474.639999,491.889999,0.0,0.0,0,4,0.0714
4,100637383499,462.000000,462.000000,462.000000,0.0,0.0,0,0,0.0000
...,...,...,...,...,...,...,...,...,...
152139,100638910484,0.000000,0.000000,0.000000,0.0,0.0,0,1,0.0286
152140,100639016190,0.000000,0.000000,0.000000,0.0,0.0,0,0,0.0000
152141,100625833622,0.000000,0.000000,0.000000,0.0,0.0,0,0,0.0000
152142,100637675086,0.000000,0.000000,0.000000,0.0,0.0,0,0,0.0000
152143,100635163858,0.000000,0.000000,0.000000,0.0,0.0,0,1,0.1250

In [140]:
df2['numerator'] =  df2['bought_products.products_value_delivered_eur'] -df2['bought_products.products_value_eur']  - abs(df2['pna_canx']) - abs(df2['refunds_due_to_wm'])

In [141]:
df2['numerator'].sum()

-405680.70844200003

In [134]:
df1['gmv_loss_numerator'].sum()

-274345.10000000003

In [135]:
df1

,country_code,week_num,order_id,refunds_to_customer,cancellations_to_pna,gmv_loss_numerator,gmv_loss_denominator,perc_gmv
0,ES,22,100639317184,0.0,0.0,0.00,26.93,0.000000
1,ES,22,100626176781,0.0,0.0,-1.19,15.24,-0.078084
2,ES,22,100628765696,0.0,0.0,0.00,37.00,0.000000
3,ES,22,100628559550,0.0,0.0,-1.29,26.69,-0.048333
4,ES,22,100639832338,0.0,0.0,0.00,15.80,0.000000
...,...,...,...,...,...,...,...,...
164332,ES,22,100635319834,0.0,0.0,0.00,23.47,0.000000
164333,ES,22,100627185273,0.0,0.0,0.00,19.27,0.000000
164334,ES,22,100626390230,0.0,0.0,0.00,65.87,0.000000
164335,ES,22,100626875623,0.0,0.0,0.00,48.92,0.000000
164336,ES,22,100627036975,0.0,0.0,0.00,20.60,0.000000

In [146]:
tmp = pd.merge(df1,df2, left_on='order_id', right_on='bought_products.order_id')
tmp[['order_id','numerator','gmv_loss_numerator']]

            order_id  numerator  gmv_loss_numerator
0       100639317184   0.300000                0.00
1       100626176781  -1.190000               -1.19
2       100628765696   0.000000                0.00
3       100628559550  -1.630000               -1.29
4       100639832338   0.000000                0.00
...              ...        ...                 ...
152131  100635319834   0.000000                0.00
152132  100627185273   0.000000                0.00
152133  100626390230  -2.309999                0.00
152134  100626875623  -0.100000                0.00
152135  100627036975   0.000000                0.00

[152136 rows x 3 columns]

In [147]:
tmp['numerator'].sum()

-405555.05844199995

In [148]:
tmp['gmv_loss_numerator'].sum()

-274345.1

In [ ]:
tmp[]